Checks:          'clang-diagnostic-*,clang-analyzer-*'
#HeaderFilterRegex: '^(ALFI|examples|tests)/.*\.(h|cpp)$'
#ExcludeHeaderFilterRegex: '.*/(deps|test_data)/.*'
UseColor:        true
SystemHeaders:   false