[submodule "benches/deps/benchmark"]
	path = benches/deps/benchmark
	url = https://github.com/google/benchmark
	shallow = true
[submodule "tests/deps/toml++"]
	path = tests/deps/toml++
	url = https://github.com/pasabanov/tomlpp-min
	shallow = true
[submodule "tests/test_data"]
	path = tests/test_data
	url = https://github.com/ALFI-lib/test_data
	shallow = true